#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

@media (max-width: 640px) {
  #root {
    padding: 0;
    max-width: 97%;
  }
}

body {
  margin: 0;
  background-color: #2d2d2d;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #00f6ff;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-out, width 0.15s, height 0.15s;
  z-index: 9999;
}

/* Hover effect */
.custom-cursor.active {
  width: 36px;
  height: 36px;
  border-color: #00f6ff;
}

.custom-cursor::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #00f6ff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


a:hover~.custom-cursor,
button:hover~.custom-cursor {
  transform: scale(1.6);
}

